.page-header {
     background-color: #288c07;
     margin-top: 0;
     padding: 20px 40px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
     color: #ffffff;
     font-size: 36pt;
     text-decoration: none;
}

.content {
     margin-left: 100px;
}

h1 {
  font-family: cursive;
}

h2, h3, h4 {
     font-family: 'serif', cursive;
}

body {
    background-image: url("http://www.wallpapersxl.com/wallpapers/1920x1080/awesome-natural-wallppaper/919832/awesome-natural-wallppaper-forest-beautiful-hd-919832.jpg");
    background-position: center;
}

.save {
     float: right;
}

 .post-form textarea, .post-form input {
     width: 100%;
     background-color: white; 
}

 .top-menu, .top-menu:hover, .top-menu:visited {
     color: #ffffff;
     float: right;
     font-size: 26pt;
     margin-right: 20px;
}

 .post {
     margin-bottom: 70px;
}

 .post h1 a, .post h1 a:visited {
     color: #000000;
}
